* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v17_3 {
  width: 100%;
  height: 3451px;
  background: rgba(0,70,67,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.Plumpy Animals {
  width: 817px;
  height: 116px;
  background: url("../images/Plumpy Animals.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 97px;
  left: 39px;
  overflow: hidden;
}
.Plumpy Polar Bears {
  width: 817px;
  height: 77px;
  background: url("../images/Plumpy Polar Bears.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 335px;
  left: 39px;
  overflow: hidden;
}
.v39_5 {
  width: 467px;
  color: rgba(171,209,198,1);
  position: absolute;
  top: 445px;
  left: 39px;
  font-family: Aldrich;
  font-weight: Regular;
  font-size: 28px;
  opacity: 1;
  text-align: left;
}
.Gif {
  width: 357px;
  height: 357px;
  background: url("../images/Gif.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 412px;
  left: 515px;
  overflow: hidden;
}
.Gif Boarder {
  width: 357px;
  height: 357px;
  background: url("../images/Gif Boarder.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 412px;
  left: 515px;
  overflow: hidden;
}
.Plain White {
  width: 357px;
  height: 357px;
  background: url("../images/Plain White.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 931px;
  left: 2px;
  overflow: hidden;
}
.v48_54 {
  width: 562px;
  color: rgba(171,209,198,1);
  position: absolute;
  top: 869px;
  left: 310px;
  font-family: Aldrich;
  font-weight: Regular;
  font-size: 28px;
  opacity: 1;
  text-align: left;
}
.The {
  width: 125px;
  height: 81px;
  background: url("../images/The.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 790px;
  left: 104px;
  overflow: hidden;
}
.Project {
  width: 255px;
  height: 81px;
  background: url("../images/Project.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 885px;
  left: 39px;
  overflow: hidden;
}
.About Us {
  width: 448px;
  height: 108px;
  background: url("../images/About Us.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1341px;
  left: 39px;
  overflow: hidden;
}
.Zverka C {
  width: 238px;
  height: 238px;
  background: url("../images/Zverka C.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1482px;
  left: 634px;
  overflow: hidden;
}
.Zverka B {
  width: 238px;
  height: 238px;
  background: url("../images/Zverka B.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1486px;
  left: 353px;
  overflow: hidden;
}
.Zverka A {
  width: 240px;
  height: 238px;
  background: url("../images/Zverka A.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1482px;
  left: 39px;
  overflow: hidden;
}
.v42_19 {
  width: 127px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 1751px;
  left: 634px;
  font-family: Aldrich;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v42_18 {
  width: 127px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 1751px;
  left: 353px;
  font-family: Aldrich;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v42_13 {
  width: 127px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 1751px;
  left: 39px;
  font-family: Aldrich;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v42_17 {
  width: 244px;
  color: rgba(171,209,198,1);
  position: absolute;
  top: 1800px;
  left: 628px;
  font-family: Aldrich;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v48_32 {
  width: 280px;
  color: rgba(171,209,198,1);
  position: absolute;
  top: 1800px;
  left: 347px;
  font-family: Aldrich;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v48_30 {
  width: 280px;
  color: rgba(171,209,198,1);
  position: absolute;
  top: 1800px;
  left: 39px;
  font-family: Aldrich;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.Roadmap {
  width: 476px;
  height: 107px;
  background: url("../images/Roadmap.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1992px;
  left: 39px;
  overflow: hidden;
}
.v48_33 {
  width: 833px;
  color: rgba(171,209,198,1);
  position: absolute;
  top: 2136px;
  left: 39px;
  font-family: Aldrich;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.FAQs {
  width: 349px;
  height: 154px;
  background: url("../images/FAQs.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2515px;
  left: 39px;
  overflow: hidden;
}
.v117_210 {
  width: 833px;
  height: 61px;
  background: rgba(249,188,96,1);
  padding: 8px 8px;
  margin: 17px;
  opacity: 1;
  position: absolute;
  top: 2706px;
  left: 39px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v117_211 {
  width: 778px;
  height: 45px;
  background: url("../images/v117_211.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 8px 8px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 8px;
  overflow: hidden;
}
.v117_212 {
  width: 584px;
  color: rgba(0,30,29,1);
  position: absolute;
  top: 8px;
  left: 8px;
  font-family: Aldrich;
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v117_215 {
  width: 833px;
  height: 61px;
  background: rgba(249,188,96,1);
  padding: 8px 8px;
  margin: 17px;
  opacity: 1;
  position: absolute;
  top: 2795px;
  left: 41px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v117_217 {
  width: 778px;
  height: 45px;
  background: url("../images/v117_217.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 8px 8px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 8px;
  overflow: hidden;
}
.v117_218 {
  width: 778px;
  color: rgba(0,30,29,1);
  position: absolute;
  top: 8px;
  left: 8px;
  font-family: Aldrich;
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v117_230 {
  width: 835px;
  height: 61px;
  background: rgba(249,188,96,1);
  padding: 8px 8px;
  margin: 17px;
  opacity: 1;
  position: absolute;
  top: 3057px;
  left: 41px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v117_232 {
  width: 778px;
  height: 45px;
  background: url("../images/v117_232.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 8px 8px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 8px;
  overflow: hidden;
}
.v117_233 {
  width: 665px;
  color: rgba(0,30,29,1);
  position: absolute;
  top: 8px;
  left: 8px;
  font-family: Aldrich;
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v117_225 {
  width: 835px;
  height: 61px;
  background: rgba(249,188,96,1);
  padding: 8px 8px;
  margin: 17px;
  opacity: 1;
  position: absolute;
  top: 2975px;
  left: 39px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v117_227 {
  width: 778px;
  height: 45px;
  background: url("../images/v117_227.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 8px 8px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 8px;
  overflow: hidden;
}
.v117_228 {
  width: 448px;
  color: rgba(0,30,29,1);
  position: absolute;
  top: 8px;
  left: 8px;
  font-family: Aldrich;
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v117_240 {
  width: 833px;
  height: 61px;
  background: rgba(249,188,96,1);
  padding: 8px 8px;
  margin: 17px;
  opacity: 1;
  position: absolute;
  top: 2885px;
  left: 39px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v117_242 {
  width: 778px;
  height: 45px;
  background: url("../images/v117_242.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 8px 8px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 8px;
  overflow: hidden;
}
.v117_243 {
  width: 533px;
  color: rgba(0,30,29,1);
  position: absolute;
  top: 8px;
  left: 8px;
  font-family: Aldrich;
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v117_307 {
  width: 70px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 259px;
  left: 39px;
  font-family: Aldrich;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v150_6 {
  width: 70px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 259px;
  left: 39px;
  font-family: Aldrich;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v150_7 {
  width: 70px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 259px;
  left: 39px;
  font-family: Aldrich;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v117_308 {
  width: 110px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 259px;
  left: 138px;
  font-family: Aldrich;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v150_9 {
  width: 110px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 259px;
  left: 138px;
  font-family: Aldrich;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v117_309 {
  width: 64px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 259px;
  left: 424px;
  font-family: Aldrich;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.Instagram {
  width: 50px;
  height: 50px;
  background: url("../images/Instagram.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 249px;
  left: 822px;
  overflow: hidden;
}
.Discord {
  width: 88px;
  height: 50px;
  background: url("../images/Discord.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 246px;
  left: 719px;
  overflow: hidden;
}
.Home Scroll {
  width: 106px;
  height: 1px;
  background: url("../images/Home Scroll.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 755px;
  left: 55px;
  overflow: hidden;
}
.About Us Scroll {
  width: 109px;
  height: 1px;
  background: url("../images/About Us Scroll.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1292px;
  left: 61px;
  overflow: hidden;
}
.Roadmap Scroll {
  width: 131px;
  height: 3px;
  background: url("../images/Roadmap Scroll.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1947px;
  left: 39px;
  overflow: hidden;
}
.FAQs Scroll {
  width: 234px;
  height: 10px;
  background: url("../images/FAQs Scroll.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2460px;
  left: 41px;
  overflow: hidden;
}
.v148_3 {
  width: 100%;
  height: 317px;
  background: rgba(171,209,198,1);
  opacity: 1;
  position: absolute;
  top: 3133px;
  left: 0px;
}
.v155_14 {
  width: 112px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 259px;
  left: 273px;
  font-family: Aldrich;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.Opensea {
  width: 50px;
  height: 50px;
  background: url("../images/Opensea.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 252px;
  left: 655px;
  overflow: hidden;
}
